@model IEnumerable<LAb6.Models.Reply>

@{
    ViewData["Title"] = "SingleTopic";
}

<h1>@ViewBag.ParentTopic.Title</h1>
<p>
    <a asp-controller="Replies" asp-action="Create">Reply</a> |
    <a asp-controller="Topics" asp-action="Edit" asp-route-id="@ViewBag.ParentTopic.Id">Edit</a> |
    <a asp-controller="Topics" asp-action="Delete" asp-route-id="@ViewBag.ParentTopic.Id">Delete</a> |
    <a asp-action="SingleForum">Back to @ViewBag.ParentForum.Name</a>
</p>

@foreach (var item in Model) {
    <div class="card bg-light mb-3">
        <div class="card-header">
            @item.AuthorName,
            @item.CreatedDate.ToString() 
            @{ if (item.IsEdited) { <span>(edited @item.EditDate)</span> }}
            | <a asp-controller="Replies" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            | <a asp-controller="Replies" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            | <a asp-controller="UseFiles" asp-action="Create" asp-route-id="@item.Id">Attach</a>
        </div>
        <div class="card-body">
            <p class="card-text">@item.Message</p>
        </div>
        <div class="card-body">
            @if (ViewBag.RepliesAttachedFiles[item.Id] != null) {
                foreach(var f in ViewBag.RepliesAttachedFiles[item.Id]) {
                    <p><img src="@Url.Content(f.Path)"></p>
                    <a asp-controller="UseFiles" asp-action="Delete" asp-route-id="@f.Id" class="btn btn-danger">Delete</a>
                }  
            }
        </div>
    </div>
}
